.pricing-card{
    background-color: rgb(242, 238, 238);
    width: auto;
    min-height: 35rem;
    height: auto;
    padding: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // justify-content: center;
    align-items: center;
    border-radius: 5px;
 
    h3{
        font-size: xx-large;
        font-weight: bolder;
    }
    .price{
        font-weight: bolder;
        font-size: 2rem;
    }

    .features-list{
        // background-color: aqua;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .list{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

        }

        button{
            width: auto;
            height: auto;
            padding: 16px;
            border: 1px solid black;
            border-radius: 10px;
            color: black;
            font-size: larger;
            margin-top: 3rem;
        }
        
    }

   
}